body {
    background-color: black;
  }
  
  .header {
    margin: 10px 25px;
  }
  
  .header h5 {
    /* margin: 10px 5px; */
    color: white;
    text-decoration: none;
  }
  
  .port {
    text-decoration: none;
  }
  
  .item {
    filter: grayscale(1);
    transition: .8s;
  }
  
  .item:hover {
    filter: none;
  }